<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alif</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>-7</integer>
			<real>22.5</real>
			<integer>0</integer>
		</array>
	</dict>
	<key>ba</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<real>0.1</real>
			<integer>26</integer>
			<real>1.2</real>
			<real>2.3</real>
		</array>
	</dict>
	<key>mim</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>37</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>31</integer>
		</array>
	</dict>
	<key>wau</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>28</integer>
			<integer>28</integer>
			<integer>28</integer>
		</array>
	</dict>
	<key>ra</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<real>34.5</real>
			<real>39.8</real>
			<integer>0</integer>
		</array>
	</dict>
	<key>nga</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>nun</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>9</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>qaf</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<real>10.5</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>sin</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>31</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>lam</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>la</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>-7</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>jim</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<real>26.2</real>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>ya</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<integer>26</integer>
			<real>33.8</real>
			<integer>0</integer>
		</array>
	</dict>
	<key>ta</key>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>yalign</key>
		<array>
			<integer>0</integer>
			<real>9.1</real>
			<real>33.8</real>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
