<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alif</key>
	<integer>1</integer>
	<key>ba</key>
	<integer>2</integer>
	<key>ta</key>
	<integer>2</integer>
	<key>ya</key>
	<integer>2</integer>
	<key>nun</key>
	<integer>2</integer>
	<key>wau</key>
	<integer>1</integer>
	<key>qaf</key>
	<integer>2</integer>
	<key>mim</key>
	<integer>2</integer>
	<key>ra</key>
	<integer>1</integer>
	<key>nga</key>
	<integer>2</integer>
</dict>
</plist>
