<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ayam</string>
		<key>spell</key>
		<array>
			<string>alif</string>
			<string>ya</string>
			<string>mim</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>burung</string>
		<key>spell</key>
		<array>
			<string>ba</string>
			<string>wau</string>
			<string>ra</string>
			<string>wau</string>
			<string>nga</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>tenuk</string>
		<key>spell</key>
		<array>
			<string>ta</string>
			<string>nun</string>
			<string>wau</string>
			<string>qaf</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>jerung</string>
		<key>spell</key>
		<array>
			<string>jim</string>
			<string>ra</string>
			<string>wau</string>
			<string>nga</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>cacing</string>
		<key>spell</key>
		<array>
			<string>ca</string>
			<string>alif</string>
			<string>ca</string>
			<string>ya</string>
			<string>nga</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>rama-rama</string>
		<key>spell</key>
		<array>
			<string>ra</string>
			<string>alif</string>
			<string>mim</string>
			<string>alif</string>
			<string>dua</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bararabazaza</string>
		<key>spell</key>
		<array>
			<string>ba</string>
			<string>ra</string>
			<string>ra</string>
			<string>ba</string>
			<string>zai</string>
			<string>zai</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bawawabavava</string>
		<key>spell</key>
		<array>
			<string>ba</string>
			<string>wau</string>
			<string>wau</string>
			<string>ba</string>
			<string>va</string>
			<string>va</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>zirafah</string>
		<key>spell</key>
		<array>
			<string>zai</string>
			<string>ra</string>
			<string>alif</string>
			<string>fa</string>
			<string>ho</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>semut</string>
		<key>spell</key>
		<array>
			<string>sin</string>
			<string>mim</string>
			<string>wau</string>
			<string>ta</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>dubuk</string>
		<key>spell</key>
		<array>
			<string>dad</string>
			<string>ba</string>
			<string>ain</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>arnab</string>
		<key>spell</key>
		<array>
			<string>ain</string>
			<string>ra</string>
			<string>nun</string>
			<string>ba</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>paus</string>
		<key>spell</key>
		<array>
			<string>pa</string>
			<string>alif</string>
			<string>hamzah</string>
			<string>wau</string>
			<string>sin</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>labu</string>
		<key>spell</key>
		<array>
			<string>lam</string>
			<string>alif</string>
			<string>ba</string>
			<string>wau</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bersila</string>
		<key>spell</key>
		<array>
			<string>ba</string>
			<string>ra</string>
			<string>sin</string>
			<string>ya</string>
			<string>lam</string>
			<string>alif</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>salam</string>
		<key>spell</key>
		<array>
			<string>sin</string>
			<string>lam</string>
			<string>alif</string>
			<string>mim</string>
		</array>
	</dict>
</array>
</plist>
